@using Microsoft.AspNetCore.Identity;
@model IdentityRole;

@{
    ViewData["Title"] = "Role Delete" + " ";
    Layout = "_AdminLayout";
}

<div class="admin-title mt-4 mb-4">
    <ion-icon name="settings-outline"></ion-icon>
    <div class="admin-title-content">
        <h5>Quản lý vai trò</h5>
        <span>Liệt kê danh sách các vai trò</span>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="title-option mb-4">Xóa vai trò</h3>
        <div class="row">
            <div class="col-sm-2 mb-3">
                Tên
            </div>
            <div class="col-sm-10 mb-3">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <form asp-action="Delete" class="d-flex justify-content-start align-items-center gap-4 mt-4">
            <h4 class="fw-bold mb-0">Bạn có muốn xóa không?</h4>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa" class="btn-save" />
            <a asp-action="Index" class="btn-back">Trở về danh sách</a>
        </form>
    </div>
</div>