@model int

@{
    ViewBag.Title = "Order Confirmation";
    Layout = "_Layout";
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="text-dark text-center">Đặt hàng thành công!</h1>
        <p>Mã đơn hàng của bạn là : @Model</p>
        <img class="img-fluid mx-auto" src="~/images/others/thank_you.jpeg" />
    </div>
    <div class="text-center" style="color: maroon;">
        Đơn hàng của bạn đã được đặt thành công! <br/>
    </div>
</div>