<div id="sidebar" class="collapse collapse-horizontal show">
    <div id="sidebar-nav">
        <div class="sidebar-content mb-4">
            <div class="sidebar-content-inner">
                <h2 class="custom-header">Admin</h2>
                <div>
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <a asp-controller="Admin" asp-action="Index">Thống kê</a>
                            </li>
                            <li>
                                <a asp-controller="Order" asp-action="Index">Quản lý đơn hàng</a>
                            </li>
                            <li>
                                <a asp-controller="Brand" asp-action="Index">Quản lý nhãn hàng</a>
                            </li>
                            <li>
                                <a asp-controller="Shoe" asp-action="Index">Quản lý giày</a>
                            </li>
                            <li>
                                <a asp-controller="ShoeColors" asp-action="Index">Quản lý thông tin màu sắc giày</a>
                            </li>
                            <li>
                                <a asp-controller="Categories" asp-action="Index">Quản lý danh mục</a>
                            </li>
                            <li>
                                <a asp-controller="Color" asp-action="Index">Màu sắc</a>
                            </li>
                            <li>
                                <a asp-controller="Size" asp-action="Index">Kích cỡ</a>
                            </li>
                            @* <li>
                                <a asp-controller="ShoeSizes" asp-action="Index">Quản lý kích thước giày</a>
                            </li> *@
                        </ul>
                    </div>
                </div>
                
            </div>
                    
        </div>
        
    </div>
</div>


<style>
.custom-header {
        background-color: #fa6257; /* Màu nền */
        border: 1px solid #ccc; /* Viền */
        padding: 10px; /* Khoảng cách bên trong */
        border-radius: 5px; /* Bo góc (tùy chọn) */
        text-align: center; /* Căn giữa chữ (tùy chọn) */
        margin-bottom: 20px; /* Khoảng cách dưới (tùy chọn) */
        color: white;
}
</style>
